<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>Learning Log - {{ title }}</title>
    {% else %}
        <title>Learning Log</title>
    {% endif %}
</head>
<body>
    <p>
        <a href="{% url 'index' %}">Learning Log</a> -
        <a href="{% url 'about' %}">About</a> -
        <a href="{% url 'topics' %}">Topics</a> -

        {% if user.is_authenticated %}
            Hello, {{ user.username }}.
            <a href="{% url 'logout' %}">log out</a>
        {% else %}
            <a href="{% url 'register' %}">register</a>
            <a href="{% url 'login' %}">log in</a>
        {% endif %}
    </p>
    {% block content %}
    {% endblock content %}
</body>
</html>